<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIFBootcamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D6BAE641C288447008AAF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5EE79C1C50205B007C4AC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE9D656A1CAC6F1C009D63B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
